doctype html
html
	head
		meta(charset='UTF-8')
		title Link-Duck!
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
		link(rel='stylesheet prefetch', href='stylesheets/yxqdlj.css')
		link(rel='stylesheet', href='stylesheets/style.css')
	body
		div
			h1(style='font-size: 30pt; \
			line-height: 10pt;\
			min-height: 30px;\
			text-align: center;\
			position: relative;\
			z-index: 1;') Welcome to Link-Duck
			.title-container
				h2.title Enter a long, ugly URL..
				h2.title-down Press enter when you're done...
			fieldset.field-container
				input#box.field(type='text', placeholder='Enter URL here...')
				.icons-container
					// <div class="icon-search"></div>
					.icon-close
						.x-up
						.x-down
			p(style='font-size: 20pt; \
			min-height: 50px;\
			text-align: center;\
			position: absolute;\
			z-index: 1;')
			button
		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		script(src='javascripts/index.js')
